doctype html
html
  head
    meta(charset="utf-8")
    title satra layout
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    //styles
    link(rel="stylesheet" href="http://new.satra.ru/bitrix/cache/css/s1/satra/template_473425a2704e46a888f17e409782e0a8/template_473425a2704e46a888f17e409782e0a8_v1.css?1591613590653810")
    link(rel="stylesheet" href="styles/new.min.css")
  body.inner_page                    
    block content
      
    //jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    //scripts
    script(src="js/new.min.js")